{{> header user=user}}

<div class="ticket-detail-page">
    <h2>Ticket Seleccionado</h2>
    <div class="ticket-detail">
        <div>{{ticket.purchase_datetime}}</div>
        <div>{{ticket.code}}</div>
        <div>${{ticket.amount}}</div>
    </div>
</div>